= form_with model: @student, url: student_path(@student), method: :patch do |f|
  .card.body
    = f.label :forename
    = f.text_field :forename
    = f.label :surname
    = f.text_field :surname

    = f.fields_for :marks do |marks_form|
      = marks_form.label :course_id
      = marks_form.select :course_id, options_for_select(@courses.collect {|c| [c.module_code, c.id]}, {prompt: "Select Module"})

      = marks_form.label :fst_grade
      = marks_form.text_field :fst_grade

      = marks_form.label :scd_grade
      = marks_form.text_field :scd_grade

  .card-footer.d-flex
    %button.btn.btn-primary.bg-uospurple{ type: 'submit' }
      Save
    = link_to 'Back', students_path, class: 'btn btn-link ms-auto'