= form_with model: @student, url: student_path(@student), method: :patch do |f|
  .p-4.col.flex.flex-col.mb-2
    = f.label :forename
    = f.text_field :forename
    = f.label :surname
    = f.text_field :surname

    = f.fields_for :marks do |marks_form|
      %hr.mt-4
      = marks_form.label :course_id
      = marks_form.text_field :course_id
      -# = marks_form.select :course_id, options_for_select(@courses.collect {|c| [c.module_code, c.id]}, {prompt: "Select Module"})
      
      = marks_form.label :fst_grade
      = marks_form.text_field :fst_grade

      = marks_form.label :scd_grade
      = marks_form.text_field :scd_grade

  .card-footer.d-flex
    %button{ type: 'submit', class: "bg-uospurple text-white px-4 py-2 rounded-lg hover:bg-opacity-70 transition" }
      Save
    = link_to 'Back', student_path, class: 'bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:tw-bg-secondary hover:text-white transition ms-auto'