-# frozen_string_literal: true
= simple_form_for(@student) do |f|
  .card-body
    = f.association :program, as: :select, collection: Program.all, label_method: :title, value_method: :id, prompt: "Choose a Program"
    = f.input :regID, wrapper_html: { class: 'mb-3' }
    = f.input :status, label: 'Status', as: :select, collection: [['Not Completed','nc'], ['Not Assessed','na'], ['Failed','fail']]
    = f.input :t_credit, label: 'Total Credits', wrapper_html: { class: 'mb-3'}

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', students_path, class: 'btn btn-link ms-auto'
