.card
  .card-header.d-flex.align-items-center
    %span Listing Students

    = link_to 'New Student', new_student_path, class: 'btn btn-outline-secondary ms-auto'
    = render "students/import_form"

  %table.table
    %thead
      %tr
        %th
        %th regID
        %th Forename 
        %th Surname
        %th Programme
        %th status
         
    %tbody
      - @students.each do |student|
        %tr
          %td
          %td= student.regID
          %td= student.forename
          %td= student.surname
          %td= student.program_name
          %td= student.status
            