<div class = "card">
  <div class = "card-header d-flex align-items-center">
    <span>
      Listing Students
    </span>
    <span class="ms-1">
      (<%=@students.size%>)
    </span>
    <%= render "students/import_form" %>
    <div>
      <%# make the dropdown unique here also make the filter for status unique %>
      <%= form_tag students_path, method: :get do %>
        <%= select_tag :program, options_for_select(Program.all.map{ |p| [p.program_name, p.id] }, params[:program]), include_blank: '(All) Programmes' %>
        <%# <%= select_tag :status, options_for_select(Student.pluck(:status).uniq.map{ |s| [s.status, s.id]}, params[:status]), include_blank: 'Filter By Status' %>
        <%= button_tag "Filter", class: "btn btn-primary bg-uospurple", type: "submit" %>
      <% end %>
    </div>
    <a href="/students/new" class="btn btn-outline-secondary ms-auto">New Student</a>
  </div>
  <div class="card-body">
  <%= simple_form_for :search, url: search_students_path, method: :post do |f| %>
    <div class="mb-3">
      <%= f.input :regID %>
    </div>
    <div class="btn-toolbar">
      <%= f.submit 'Search', class: 'btn btn-outline-secondary' %>
      <%= link_to 'Reset', students_path, class: 'btn btn-link ms-1' %>
    </div>
  <% end %>
  </div>
  <div class="body">

      <table class="table">
        <thead style="background-color: lightblue;">
          <th>
            Programme Code
          </th>
          <th>
            Forename
          </th>
          <th>
            Surname
          </th>
          <th>
            RegID
          </th>
          <th>
            Status
          </th>
          <th>
            Option
          </th>
        </thead>
        <tbody>
          <% @students.each do |student|%>
            <tr>
              <td><%= student.program_name %></td>
              <td><%= student.forename %></td>
              <td><%= student.surname %></td>
              <td><%= student.regID %></td>
              <% if student.flagged == true %>
                <td class= 'font-bold'>Needs Attention</td>
              <% else %>
                <td>Fully Registered</td>
              <% end %>
              </td>
              <td>
                <%= link_to 'Show', student, class: 'btn btn-outline-secondary ms-1 btn-sm' %>
                <%= link_to 'Remove', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  

</div>
