-# student show html
.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      #table
        .card-header.flex.flex-row.tw-items-center.py-4
          %p.text-2xl.text-gray-700
            Student Details
          %button{class: "bg-uospurple text-white px-4 py-2 rounded-lg hover:bg-opacity-70 transition ms-auto", :onclick => "print_table('table')"} Print
        .body.p-4
          %dl.row.mb-0
            %dt.col-md-10 Forename:
            %dd.col-md-9= @student.forename
            %dt.col-md-10 Surname:
            %dd.col-md-9= @student.surname
            %dt.col-md-10 Registration Number:
            %dd.col-md-9= @student.regID
            %dt.col-md-10 WMG:
            %dd.col-md-9= @student.wmg_calculator
            %dt.col-md-10 Classification:
            %dd.col-md-9= @student.classification
          .pt-4
            %table.w-full.table-auto
              %thead.bg-gray-300 
                %tr
                  %th.px-4.py-2 Module Code
                  %th.px-4.py-2 First Score
                  %th.px-4.py-2 Second Score
                  %th.px-4.py-2 Credit
                  %th.px-4.py-2 Final Score
                  %th.px-4.py-2 Grade Status
              %tbody
                - @courses.each do |course|
                  -mark = Mark.find_by(student: @student, course: course)
                  %tr{class: "odd:bg-gray-100 even:bg-white hover:bg-gray-200 transition "}
                    %td.px-4.py-2.border= course.module_code
                    
                    -if mark.status == 'NC' 
                      %td.px-4.py-2.border= "#{mark.fst_grade} (NC)"
                    -elsif mark.status == 'DE'
                      %td.px-4.py-2.border= "#{mark.fst_grade} (DE)"
                    -elsif mark.status == 'NA'
                      %td.px-4.py-2.border= "#{mark.fst_grade} (NA)"
                    -else
                      %td.px-4.py-2.border= mark.fst_grade
                    
                    %td.px-4.py-2.border= mark.scd_grade
                    -if course.credit.present?
                      %td.px-4.py-2.border= course.credit
                    -else 
                      %td.px-4.py-2.border -
                    %td.px-4.py-2.border= mark.final_score

                    -if mark.final_score >= 50
                      %td.px-4.py-2.border PASS 
                    -else
                      %td.px-4.py-2.border= mark.status

      -# Print function, which only print the content of block with certain id            
      :javascript
        function print_table(areaID) {
          var printContent = document.getElementById(areaID).innerHTML;
          var originalContent = document.body.innerHTML;
          document.body.innerHTML = printContent;
          window.print();
          document.body.innerHTML = originalContent;
        }

      .card-footer.d-flex
        = link_to 'Edit', edit_student_path(@student), class: 'bg-uospurple text-white px-4 py-2 rounded-lg hover:bg-opacity-70 transition'
        = link_to 'Back', students_path, class: 'bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:tw-bg-secondary hover:text-white transition ms-auto'