.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Student details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Forename:
          %dd.col-md-9= @student.forename
          %dt.col-md-3 Surname:
          %dd.col-md-9= @student.surname
          %dt.col-md-3 Registration Number:
          %dd.col-md-9= @student.regID
          %table.table
            %thead{style: "background-color: lightblue;"}  
              %tr
                %th Module Code
                %th First Grade
                %th Second Grade
                %th Grade
                %th Status
            %tbody
              - @courses.each do |course|
                -mark = Mark.find_by(student: @student, course: course)
                %tr
                  %td= course.module_code
                  %td= mark.fst_grade
                  %td= mark.scd_grade
                  %td
                  %td= @student.status


      .card-footer.d-flex
        = link_to 'Edit', edit_student_path(@student), class: 'btn btn-link'
        = link_to 'Back', students_path, class: 'btn btn-link ms-auto'