-# frozen_string_literal: true
-# programs form html
= simple_form_for(@program) do |f|
  .card-body
    = f.input :program_name, wrapper_html: { class: 'mb-3' }
    = f.input :title, wrapper_html: { class: 'mb-3' }
    = f.input :course_ids, label: 'Course', as: :check_boxes, collection: Course.order('module_code').map { |courses| [courses.module_code, courses.id] }, include_blank: false

  .card-footer.d-flex
    %button.btn.btn-primary.bg-uospurple{ type: 'submit' }
      Save
    = link_to 'Back', programs_path, class: 'btn btn-link ms-auto'
