-# programs index html
.card
  .card-header.d-flex.align-items-center
    %span Listing Programmes
    %span.ms-1 (#{@programs.size})
    = link_to 'New Programme', new_program_path, class: 'btn btn-outline-secondary ms-auto'
  
  .card-body
    = simple_form_for :search, url: search_programs_path, method: :post do |f|
      .mb-3= f.input :program_name

      .btn-toolbar
        = f.submit 'Search', class: 'btn btn-outline-secondary'
        = link_to 'Reset', programs_path, class: 'btn btn-link ms-1'

  %table.table
    %thead{style:"background-color: lightblue"}
      %tr
        %th Programme Code
        %th Programme Title
        %th
    %tbody
      - @programs.each do |program|
        %tr
          %td= program.program_name
          %td= program.title
          %td
            .btn-toolbar.float-end
              = link_to 'Show', program, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_program_path(program), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Remove', program, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'