.card
  .card-header.d-flex.align-items-center
    %span Listing Programs

    = link_to 'New Program', new_program_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Program Code
        %th Program Title
        %th Course Code
        %th Course Title
        %th Credits
        %th
    %tbody
      - @programs.each do |program|
        %tr
          %td= program.program_code
          %td= program.title
          %td= program.courses.map(&:course_code).join(', ')
          %td= program.courses.map(&:title).join(', ')
          %td= program.courses.map(&:credit).join(', ')
          %td
            .btn-toolbar.float-end
              = link_to 'Show', program, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_program_path(program), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'