.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Program details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Program Code:
          %dd.col-md-9= @program.program_name
          %dt.col-md-3 Program Title:
          %dd.col-md-9= @program.title
          %dt.col-md-3 Courses:
          - @courses.each do |course|
            %dd= course.module_code
          %dt.col-md-3 Total Credit:
          %dd.col-md-9= @program.program_total_credit
            
      .card-footer.d-flex
        = link_to 'Edit', edit_program_path(@program), class: 'btn btn-link'
        = link_to 'Back', programs_path, class: 'btn btn-link ms-auto'