<!-- HTML for Notifications page -->
<div class = "card">
  
  <div class="body">
      <table class="table">
        <thead style="background-color: lightblue;">
          <th>
            Identifier
          </th>
          <th>
            Alert Information
          </th>
          <th>
          </th>
        </thead>
        <tbody>
          <% @notifications.each do |notification|%>
            <tr>
              <td><%= notification.identifier %></td>
              <td><%= notification.alert %></td>
              <td>
                <div class="btn-toolbar float-end">
                  <%if notification.program.present? %> 
                    <%= link_to "Show #{notification.identifier}", program_path(notification.program), class: 'btn btn-outline-secondary btn-sm' %>  
                  <%elsif notification.course.present?%> 
                    <%= link_to "Show #{notification.identifier}", course_path(notification.course), class: 'btn btn-outline-secondary btn-sm'%>
                  <%end%>  
                  <%= link_to 'Delete', notification, method: :delete, class: 'btn btn-outline-danger ms-1 btn-sm' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  

</div>
