<div class="tw-w-5/6">
  <div class="tw-flex tw-flex-row tw-items-start tw-justify-between">
    <div class="tw-flex tw-flex-row tw-items-center">
      <p class="tw-text-lg tw-my-auto">
        Viewing <span class="tw-font-bold"><%= data.length %></span> student<%=data.length == 1 ? "" : "s" %>
      </p>
      <input
        class="tw-h-10 tw-px-2 tw-py-4 tw-ml-4 tw-text-sm tw-bg-white tw-border-2 tw-border-gray-300 tw-rounded-lg tw-w-36 focus:tw-outline-none"
        name="search"
        placeholder="Search..."
      />
    </div>
    <div>
      <div class="tw-flex tw-flex-row tw-items-center">
        <p class="tw-mr-2 tw-text-lg tw-my-auto">Department:</p>
        <select
          class="tw-h-10 tw-pl-5 tw-pr-10 tw-text-sm tw-bg-white tw-border-2 tw-border-gray-300 tw-rounded-lg focus:tw-outline-none"
        >
          <option value="">Music</option>
        </select>
        <p class="tw-ml-4 tw-mr-2 tw-text-lg tw-my-auto">Program:</p>
        <select
          class="tw-h-10 tw-pl-5 tw-pr-10 tw-text-sm tw-bg-white tw-border-2 tw-border-gray-300 tw-rounded-lg focus:tw-outline-none"
          onchange=<%= "@set_module_index(this.value)" %>
          <% data.each_with_index.map do |_module, index| %>
            <option value="<%= index %>"><%= index %></option>
          <% end %>
        </select>
      </div>
      <p class="tw-mt-2 tw-text-sm tw-italic tw-text-right tw-text-gray-500">
        Click on a student for more information!
      </p>
    </div>
  </div>
  <div>
    <table class="tw-w-full tw-my-4 tw-table-auto">
      <thead class="tw-bg-gray-300">
        <tr>
          <th class="tw-px-4 tw-py-2">Reg No.</th>
          <th class="tw-px-4 tw-py-2">{`{Module} - 40Cr`}</th>
          <th class="tw-px-4 tw-py-2">{`{Module} - 40Cr`}</th>
          <th class="tw-px-4 tw-py-2">{`{Module} - 50Cr`}</th>
          <th class="tw-px-4 tw-py-2">{`{Module} - 50Cr`}</th>
          <th class="tw-px-4 tw-py-2">WMG</th>
        </tr>
      </thead>
      <tbody class="">
        <% focus_student = nil %> 
        <% @filtered_data[:data]&.map do |student| %>
          <!-- this is where the highlighting happens -->
          <% td_class = '' %> 
          <% td_class = 'tw-bg-red-200' if student[:'1st Grade']&.to_f&. < 40 %> 
          <% td_class = 'tw-bg-yellow-200' if student[:'1st Grade']&.to_f&.nan? && student[:'1st Grade'] != '-' %>
        <tr
          class="tw-transition tw-cursor-pointer odd:tw-bg-gray-100 even:tw-bg-white hover:tw-bg-gray-200"
        >
          <td class="tw-px-4 tw-py-2 tw-border"><%= student[:"Surname"] %></td>
          <td class="tw-px-4 tw-py-2 tw-border"><%= student[:"Forename"] %></td>
          <td class="tw-px-4 tw-py-2 tw-border"><%= student[:"Reg No."] %></td>
          <td class="tw-px-4 tw-py-2 tw-border">
            <%= student[:"Reg. Status"] %>
          </td>
          <td class="tw-px-4 tw-py-2 tw-border">
            <%= student[:"Module Code"] %>
          </td>
          <td class="<%= td_class %> tw-border tw-px-4 tw-py-2">
            <%= student[:"1st Grade"] %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
