
    <div class="<%= "tw-w-1/6 tw-bg-gray-200 tw-ml-8 tw-rounded-lg tw-p-4" %><%= " tw-mb-4" if !short %>">
      <div class="tw-flex tw-flex-col">
        <p class="tw-text-2xl tw-font-bold tw-text-gray-700">Module List</p>
        <!-- {p.short ? <hr class="my-2" /> : <hr class="my-4" />} -->
        <hr class="<%= short ? 'tw-my-2' : 'tw-my-4' %>" />
        <input
          type="text"
          class="tw-h-10 tw-px-2 tw-py-4 tw-mb-2 tw-text-sm tw-bg-white tw-border-2 tw-border-gray-300 tw-rounded-lg focus:tw-outline-none"
          placeholder="Search..."
        />
        <button class="tw-px-4 tw-py-2 tw-text-white tw-transition tw-rounded-lg tw-shadow tw-bg-uospurple hover:tw-bg-opacity-70 hover:tw-shadow-lg">
          Select All
        </button>
        <div
          class="<%= "tw-overflow-y-auto" %> <%= short ? 'tw-max-h-48 tw-mt-3' : 'tw-max-h-96 tw-mt-8' %>"
        >
        <!-- this bit needs to be dynamically generated but we don't have the db sorted yet -->
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">MUS642</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">MUS6025</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">MUS6026</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">MUS6080</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">MUS6090</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM1001</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM1002</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM1003</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM1005</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM1006</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM1008</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM1009</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM2004</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM2008</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM2009</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM2107</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM2108</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM2109</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">COM3420</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">FCE1001</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
          <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-p-2 tw-m-2 tw-bg-gray-100 tw-rounded-lg tw-shadow hover:tw-shadow-md">
            <p class="tw-font-bold tw-text-gray-700 tw-my-auto">FCE2001</p>
            <input type="checkbox" class="tw-w-6 tw-h-6"/>
          </div>
        </div>
      </div>
    </div>

