<div class="w-5/6">
  <div class="flex flex-row items-start justify-between">
    <div class="flex flex-row items-center">
      <form onsubmit="window.location.href = '/?'+this.value">
        <input
          class="h-10 px-2 py-4 text-sm bg-white border-2 border-gray-300 rounded-lg focus:outline-none"
          name="student_id"
          placeholder="Search registration..."
        />
      </form>
    </div>
    <div>
      <div class="flex flex-row items-center justify-content-end">
        <p class="mr-2 text-lg">Programme:</p>
        <%= select("ProgramThing","PrgmSelect", Program.all.collect {|p| [p.program_name, p.program_name]}, {:include_blank => true}, {:onchange => "window.location.href = '/?program_name='+this.value"}) %>
      </div>
      <p class="mt-2 text-sm italic text-right text-gray-500">
        Click on a student for more information!
      </p>
    </div>
  </div>
  <div id="table">
    <table class="w-full my-4 table-auto">
      <thead class="bg-gray-300">
        <tr>
          <th class="px-4 py-2">Reg No.</th>
          <th class="px-4 py-2">Programme</th>
          <th class="px-4 py-2">Total Credit</th>
          <%# adding in dynamically updated table %>
          <div>
            <% @course_list.each do |course| %>
            <th class="px-4 py-2">
              <%= "#{Course.find_by(module_code: course).module_code} Credit(#{Course.find_by(module_code: course).credit})" %>
            </th>
            <% end %>
          </div>
          <th class="px-4 py-2">WMG</th>
        </tr>
      </thead>
      <tbody class="">
        <% @students.each do |student|%>
          <% td_credit_class, td_wmg_class = 'hover:bg-gray-200', 'hover:bg-gray-200' %>
          <% td_credit_class = 'highlight-orange hover:highlight-orange-light' if student.student_total_credit < 180 %>
          <% td_credit_class = 'highlight-red hover:highlight-red-light' if student.student_total_credit < 120 %>
          <% td_wmg_class = 'highlight-green hover:highlight-green-light' if student.wmg_calculator > 70 %>
          <% td_wmg_class = 'highlight-orange hover:highlight-orange-light' if student.wmg_calculator < 70 %>
          <% td_wmg_class = 'highlight-red hover:highlight-red-light' if student.wmg_calculator < 50 %>

        <tr
          class=" odd:bg-gray-100 even:bg-white"
        >
          <td 
            class="px-4 py-2 border hover:bg-gray-200 transition cursor-pointer" 
            onclick=<%= "window.location.href='/students/#{student.id}';" %>
          >
            <%= student.regID %>
          </td>
          <td 
            class="px-4 py-2 border hover:bg-gray-200 transition cursor-pointer" 
            onclick=<%= "window.location.href='/programs/#{Program.find_by(program_name: student.program_name).id}';" %>
          >
            <%= student.program_name %>
          </td>
          <td 
            class="<%= td_credit_class%> px-4 py-2 border transition cursor-pointer" 
            onclick=<%= "window.location.href='/students/#{student.id}';" %>
          >
            <%= student.student_total_credit %>
          </td>
          <div>
            <% @course_list.each do|course| %> 
            <% td_mark_class = "hover:bg-gray-200" %>
            <% td_mark_class = 'highlight-orange hover:highlight-orange-light' if Mark.find_by(student_id: student.id, course_id: Course.find_by(module_code: course)).final_score < 70 %>
            <% td_mark_class = 'highlight-red hover:highlight-red-light' if Mark.find_by(student_id: student.id, course_id: Course.find_by(module_code: course)).final_score < 50 %>
            <% if Mark.find_by(student_id: student.id, course_id: Course.find_by(module_code: course)).present? %>
            <td 
              class="<%= td_mark_class%> px-4 py-2 border transition cursor-pointer" 
              onclick=<%= "window.location.href='/courses/#{Course.find_by(module_code: course).id}';" %>
            >
              <%= Mark.find_by(student_id: student.id, course_id: Course.find_by(module_code: course)).final_score %>
            </td>
            <% else %>
            <td class="px-4 py-2 border hover:bg-gray-200 transition">-</td>
            <% end %> <% end %>
          </div>
          <% if student.wmg_calculator < 0 %>
            <td
              class="px-4 py-2 border" 
              onclick=<%= "window.location.href='/courses/#{Course.find_by(module_code: course).id}';" %>
            >
              update module
            </td>
          <% else %>
          <td class="<%= td_wmg_class %> px-4 py-2 border hover:bg-gray-200 transition cursor-pointer" onclick=<%= "window.location.href='/students/#{student.id}';" %>>
            <%= student.wmg_calculator.round(2) %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
