.card
  .card-header.d-flex.align-items-center
    %form{action: students_path, method: :get}
      = select_tag :program, options_for_select(Program.all.map{ |p| [p.program_name, p.id] }, params[:program]), include_blank: '(All) Programmes'
      %button.btn.btn-primary.bg-uospurple{type: 'submit'}
        Filter


    .btn-toolbar.ms-auto
      - if can? :create, Course
        = link_to 'New Module', new_course_path, class: 'btn btn-outline-secondary ms-auto'

  .card-body
    = simple_form_for :search, url: search_courses_path, method: :post do |f|
      .mb-3= f.input :module_code

      .btn-toolbar
        = f.submit 'Search', class: 'btn btn-outline-secondary'
        = link_to 'Reset', courses_path, class: 'btn btn-link ms-1'

  %table.table
    %thead{style:"background-color: lightblue;"} 
      %tr
        %th Module code
        %th Credit
        %th ID
        %th
    %tbody
      - @courses.each do |course|
        %tr
          %td= course.module_code
          %td= course.credit
          %td= course.id
          %td
            .btn-toolbar.float-end
              = link_to 'Show', course, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_course_path(course), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Remove', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'