.card.tw-p-8
  %p.tw-text-4xl.tw-font-bold.tw-text-gray-700
    Courses
  %hr.tw-my-8
  .tw-flex.tw-flex-row.tw-justify-between.tw-items-center.tw-mb-4
    = form_tag courses_path, method: :get, class: "tw-flex tw-flex-row tw-items-center" do
      %div{class:"tw-rounded-lg tw-border-gray-300 tw-border tw-py-1.5 tw-px-2 tw-mr-2 tw-bg-gray-50"}
        = label_tag :filter, "Filter Courses By Programme", class: "tw-text-gray-700 tw-appearance-none tw-my-auto"
        = select_tag :program, options_for_select(Program.all.map{ |p| [p.program_name, p.id] }, params[:program]), include_blank: true
      %button{ type: 'submit', class:"tw-p-4 tw-text-white tw-transition tw-rounded-lg tw-bg-uospurple hover:tw-bg-opacity-70 tw-drop-shadow hover:tw-drop-shadow-lg" }
        Filter
    
    = link_to 'New Course', new_course_path, class: 'tw-p-4 tw-text-white tw-transition tw-rounded-lg tw-bg-uospurple hover:tw-bg-opacity-70 tw-drop-shadow hover:tw-drop-shadow-lg hover:tw-text-white'

  %table.tw-w-full.tw-my-4.tw-table-auto
    %thead.tw-bg-gray-300
      %tr
        %th.tw-px-4.tw-py-2 Course Code
        %th.tw-px-4.tw-py-2 Credits
        %th.tw-px-4.tw-py-2 Course ID
        %th.tw-px-4.tw-py-2
    %tbody
      - @courses.each do |course|
        %tr{class:"tw-transition odd:tw-bg-gray-100 even:tw-bg-white hover:tw-bg-gray-200"}
          %td.tw-px-4.tw-py-2.tw-border= course.module_code
          %td.tw-px-4.tw-py-2.tw-border= course.credit
          %td.tw-px-4.tw-py-2.tw-border= course.id
          %td.tw-px-4.tw-py-2.tw-border
            .btn-toolbar.float-end
              = link_to 'Show', course, class: 'tw-py-2 tw-px-4 tw-text-gray-700 tw-transition tw-rounded-lg tw-bg-gray-200 hover:tw-bg-gray-100 tw-drop-shadow hover:tw-drop-shadow-lg hover:tw-text-gray-900 tw-ml-2'
              = link_to 'Edit', edit_course_path(course), class: 'tw-py-2 tw-px-4 tw-text-gray-700 tw-transition tw-rounded-lg tw-bg-gray-200 hover:tw-bg-gray-100 tw-drop-shadow hover:tw-drop-shadow-lg hover:tw-text-gray-900 tw-ml-2'
              = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tw-py-2 tw-px-4 tw-text-white tw-transition tw-rounded-lg tw-bg-red-600 hover:tw-bg-red-400 tw-drop-shadow hover:tw-drop-shadow-lg hover:tw-text-white tw-ml-2'