-# Courses show HTML
.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header.flex.flex-row.tw-items-center.py-4
        %p.text-2xl.text-gray-700
          Course Details
      .body.p-4
        %dl.row.mb-0
          %dt.col-md-3 Module Code:
          %dd.col-md-9= @course.module_code
          %dt.col-md-3 Credits:
          %dd.col-md-9= @course.credit
          %dt.col-md-3 Relevant Programmes:
          - @course.programs.each do |program|
            %dd.col-md-9
              = program.program_name
            %dt.col-md-3
          %dd.col-md-9


      .card-footer.d-flex
        = link_to 'Edit', edit_course_path(@course), class: 'bg-uospurple text-white px-4 py-2 rounded-lg hover:bg-opacity-70 transition'
        = link_to 'Back', courses_path, class: 'bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:tw-bg-secondary hover:text-white transition ms-auto'