!!!
-# Application HTML
%html{ lang: 'en-GB' }
  %head
    %title Project

    %meta{ :'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no" }

    - if content_for(:description)
      %meta{ content: content_for(:description), name: 'description' }

    %title= ["Project", content_for(:title)].compact.join(' - ')

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'styles', media: 'all'
    = javascript_pack_tag 'application'

  %body.bg-gray-50
    .bg-uospurple
      %header.navbar.navbar-expand-lg.bg-black.bg-opacity-25.shadow-lg
        .container-fluid.text-white
          = link_to '/', class: 'navbar-brand' do
            = image_pack_tag 'uoslogo_white.png', class: "h-16 ml-2 mr-8 hover:drop-shadow-lg my-2"
          %button.navbar-toggler{ type: :button, data: { bs_toggle: :collapse, bs_target: '#navbar-content' }, aria: { controls: 'navbar-content', expanded: 'false', label: 'Toggle navigation' } }
            %span.navbar-toggler-icon
          #navbar-content.navbar-collapse.collapse
            %nav.navbar-nav.space-x-4
              - if can? :manage, Student
                .nav-item.text-white{class:"hover:scale-105 transition"}
                  = link_to '/', class: 'nav-link' do
                    %p.text-white
                      Home
              - if can? :manage, Student
                .nav-item.text-white{class:"hover:scale-105 transition"}
                  = link_to students_path, class: 'nav-link' do
                    %p.text-white
                      Student
              - if can? :manage, Course
                .nav-item.text.white{class:"hover:scale-105 transition"}
                  = link_to courses_path, class: 'nav-link' do
                    %p.text-white
                      Module
              - if can? :manage, Program
                .nav-item.text-white{class:"hover:scale-105 transition"}
                  = link_to programs_path, class: 'nav-link' do
                    %p.text-white
                      Programme
              - if can? :manage, Program
                .nav-item.text-white{class:"hover:scale-105 transition"}
                  = link_to notifications_path, class: 'nav-link' do
                    %p.text-white
                      = "Notifications" 
                      %span.badge.bg-danger.text-white
                        = Notification.all.size
              - if can? :manage, Staff
                .nav-item.text-white{class:"hover:scale-105 transition"}
                  = link_to staffs_path, class: 'nav-link' do
                    %p.text-white
                      Staff
                           
            %nav.navbar-nav.ms-auto
              .nav-item.dropdown
                - if user_signed_in?
                  = link_to current_user.username, '#', class: 'nav-link dropdown-toggle text-white', role: 'button', data: { bs_toggle: 'dropdown' }, aria: { expanded: 'false' }
                  %nav.dropdown-menu.dropdown-menu-md-end
                    = link_to 'My Profile', profile_path, class: 'dropdown-item'
                    = link_to 'Log Out', destroy_user_session_path, class: 'dropdown-item', method: :delete

    - if flash.present?
      .flash-messages.bg-uospurple
        .mx-8.mt-3.absolute.hide-3s
          - flash.each do |message_type, message|
            - next unless message_type == 'alert' || message_type == 'notice'
            .alert{ class: "alert-#{ message_type == 'notice' ? 'success' : 'danger' }" }= message

    %main.p-8
      = yield

    %footer
      = render 'layouts/footer'
        